<div class="logo">Sorting Visualizer</div>
<div class="separator"></div>
<span class="material-icons icon click-icon" @buttonShow *ngIf="!header.isMenuOpen"
    (click)="randomize()">
   <img src="../../../assets/shuffle.svg">
</span>

<span class="icon click-icon" @buttonShow
    *ngIf="!header.isMenuOpen && (header.sortState!==sortState.wait)" (click)="toggleSorting()">
    <img [src]="getPlayPauseSvgSource()" />
</span>

<span class="icon click-icon" @buttonShow
    *ngIf="!header.isMenuOpen && (header.sortState==sortState.wait)" (click)="toggleSorting()">
    <img src="../../../assets/pending.svg">
</span>

<span class="icon" @buttonShow *ngIf="header.isMenuOpen" (click)="toggleMenu()">
    <img src="../../../assets/close.svg">
</span>
<span class="icon" @buttonShow *ngIf="!header.isMenuOpen" (click)="toggleMenu()">
    <img src="../../../assets/menu.svg">
</span>