<div class="logo">Sorting Visualizer</div>
<div class="separator"></div>
<span class="material-icons icon click-icon" @buttonShow *ngIf="!header.isMenuOpen"
    (click)="randomize()">shuffle</span>

<span class="material-icons icon click-icon" @buttonShow
    *ngIf="!header.isMenuOpen && (header.sortState!==sortState.wait)" (click)="toggleSorting()">{{header.sortState == sortState.play ?"pause":"play_arrow"}}</span>

<span class="material-icons icon click-icon" @buttonShow
    *ngIf="!header.isMenuOpen && (header.sortState==sortState.wait)" (click)="toggleSorting()">pending</span>

<span class="material-icons icon" @buttonShow *ngIf="header.isMenuOpen" (click)="toggleMenu()">close</span>
<span class="material-icons icon" @buttonShow *ngIf="!header.isMenuOpen" (click)="toggleMenu()">menu</span>